

button {
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: bold;
  color: #002fff;
  background: #3498db;
  border: none;
  border-radius: 8px;
}
button:hover {
  background: #ff0000;
  cursor:progress;
}

p::first-letter {
  font-size: 2rem;
  font-weight: bold;
  color: crimson;
}

h2 {
  position: relative;
  padding-left: 2rem;
  display: inline-block;
}
h2::before {
  content: "★";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: rgb(255, 0, 0);
}

input {
  padding: 0.6rem;
  border: 2px solid #ccc;
  border-radius: 6px;
  outline: none;
}
input:focus {
  background-color: #3498db;
  box-shadow: 0 0 6px rgba(52, 152, 219, 0.5);
}

li:first-child {
  background: #ff9d00;
  color: #ff0000;
  font-weight: bold;
  display: inline-block;
}
* {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
  nav a {
      color: #f9fafb;
      text-decoration: none;
      margin: 0 12px;
      font-weight: 600;
      transition: color 0.3s ease; 
    }
